html,body{
  max-width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;

}

/*Navigation Section*/
#navSection{
  position: absolute;

  max-width: 100%;
  max-height: 100px;
  width: 100%;
}

#navBar{
  position: relative;

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  border: 1px solid #ffffff;
}

/*Main Body Section*/
#mainSection{
  position: relative;

  max-width: 100%;
  max-height: 100%;

  z-index: -1
}

#backgroundImageOne{
  position: absolute;
  width: 100%;
  height: 100vh;

  background-color: #212121;
}

/*Footer Section*/
#footerSection{
  position: absolute;
  bottom: 0px;

  max-width: 100%;
  max-height: 100px;
  width: 100%;
}

#footerBar{
  position: relative;

  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  border: 1px solid #ffffff;
}
